*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("watchbackgrnd.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
}
h1{
/* font-family: cursive; */
font-size: 70px;
text-align: center;
}
h4{
font-family: 'Lobster', cursive;
font-weight: lighter;
font-size: 16px;
text-align: center;
margin-bottom: 8px;
}
h6{
font-size: 12px;
text-align: center;
font: bold;
}
form h1{
font-family: 'Texturina', serif;
font-size: 50px;
text-align: center;
margin-bottom: 20px;
}
.loginform{
    display: inline-block;
    border: 4px solid rgba(245, 245, 245, 0.322);
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 50px 0px 50px 500px;
}
button{
    font-family: 'Texturina', serif;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.808);
    color: whitesmoke;
    padding: 2px 100px;
    border-radius: 8px;
}
button:hover{
    color: rgba(50, 180, 255, 0.76);
}
.header{
    background-image: url("upbackground.jpg");
    height:200px ;
    width: 100%;
}
div.header{
    color: rgba(255, 255, 255, 0.959);
}
.signuplink,.signinlink{
    color:rgb(20, 243, 131);
    text-decoration: none;
}
form a:hover{
    color: rgb(9, 253, 200);
}
input{
    padding-left: 16px;
}
.name,.uname,.psw,.tel,.address{
    border-radius: 5px;
    width: 100%;
    height: 20px;
}
.name:hover,.uname:hover,.psw:hover,.tel:hover,.address:hover{
    background-color: rgba(255, 255, 255, 0.884);
}
.footer1{
    width: 100%;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.219);
    text-align: center;
}
.footer1 h6, .footer2 h6{
    font-size: 20px;
    text-align: center;
}
.footer2{
    width: 100%;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.500);
    /* text-align: center */
}
.footer3{
    width: 100%;
    height: 100px;
    padding:20px 0px 20px 0px ;
    background-color: rgba(0, 0, 0, 0.897);
    text-align: center;
    color: whitesmoke;
}
.signupform{
    display: inline-block;
    align-content: center;
    border: 4px solid rgba(128, 128, 128, 0.637);
    border-radius: 4px;
    color: rgb(202, 255, 237);
    width: 60%;
    height: auto;
    margin: 35px 0px 40px 225px;
    padding: 20px;
}
/* Navbar */
.wrapper{
    margin: 0px 180px 80px 0px;
	}
.wrapper ul{
	list-style: none;
	margin-top: 2%;
	}
.wrapper ul li{
	background: rgba(3, 3, 3, 0.103);
	width: 120px;
	border: 2px solid rgba(255, 255, 255, 0.178);
	height: 35px;
	line-height:35px;
	text-align: center;
	float: right;
	color: #fff;
	font-size: 14px;
	position: relative;
	font-family: 'Texturina', serif;
	border-radius: 8px;
	}
.wrapper ul li:hover{
	background: black;
    color: cornflowerblue;
	border-radius: 8px;
	}
.wrapper ul ul{
	position: absolute;
	display: none;
	}
.wrapper ul li:hover > ul {
	position: absolute;
	display: block;
	}
.wrapper ul ul ul{
	margin-left: 120px;
	top: 0px;
	}